aside {
    height: 100vh;
}

aside .top {
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
}

aside .logo .tittle{
    font-family: 'Mr Dafoe', cursive;
    /* font-family: 'Poppins', sans-serif; */
}

aside .top .close {
    display: none;
}

aside .sidebar {
    background-color: white;
    height: 92vh;
    flex-direction: column;
    position: relative;
    top: 2rem;
    padding-top: 3rem;
}

aside h3 {
    font-weight: 400;
}

aside .sidebar a {
    display: flex;
    margin-left: 1.5rem;
    gap: 1.5rem;
    align-self: center;
    height: 3.2rem;
    transition: all .1s ease-in;
    color: gray;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: .5rem;
    width: 100%;
}

aside .sidebar a:hover {
    color: aquamarine;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}
